<nav class=" lg:hidden fixed inset-0 z-40 top-0 bottom-0 left-0 right-0 w-full -mt-[200vh] h-fit  p-16 bg-surface-light dark:bg-surface-dark text-content-primary-light dark:text-content-primary-dark/80 transition-[margin] duration-800 ease-in-out{#- ml-[100vw] #}" {{ stimulus_target('nav', 'links') }}>
    <a href="#" {{ stimulus_action('nav', 'trigger') }} class="absolute top-8 right-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor"
             class="h-8 w-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
        </svg>
    </a>
    <ul class="w-full h-fit flex flex-col justify-start items-center py-16 space-y-8 text-content-primary-light dark:text-content-primary-dark/80 text-lg font-semibold ">
        <li>
            <a href="{{ path('app_default') }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.home {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('app_menu', {'slug': store.slug, '_fragment': 'menu'}) }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.menu {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('app_menu', {'slug': store.slug, '_fragment': 'heures-d-ouverture'}) }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.opening {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('app_menu', {'slug': store.slug, '_fragment': 'contact'}) }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.contact_infos {% endtrans %}</a>
        </li>
        <li class="text-sm underline pt-4 opacity-70">
            {% if app.user is null %}
                <a href="{{ path('app_login') }}"> {% trans %} nav.login{% endtrans %}</a>
            {% else %}
                <a href="{{ path('admin_default') }}">  {% trans %} nav.admin {% endtrans %}</a>
                <a href="/logout">  {% trans %} nav.logout {% endtrans %}</a>
            {% endif %}
        </li>
    </ul>
</nav>
