<nav class=" lg:hidden fixed inset-0 z-40 top-0 bottom-0 left-0 right-0 w-full -mt-[100vh] h-fit  p-16 bg-dark-neutral dark:bg-light-neutral text-dark-text-base dark:text-light-text-base transition-[margin] duration-800 ease-in-out{#- ml-[100vw] #}" {{ stimulus_target('nav', 'links') }}>
    <a href="#" {{ stimulus_action('nav', 'trigger') }} class="absolute top-8 right-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor"
             class="h-8 w-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
        </svg>
    </a>
    <ul class="w-full h-fit flex flex-col justify-start items-center py-16 space-y-8 text-dark-text-base dark:text-light-text-base text-lg font-semibold ">
        {% if store is defined %}
            <li>
                <a href="{{ path('app_menu', {'slug': store.slug, '_fragment': 'menu'}) }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.menu {% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('app_menu', {'slug': store.slug, '_fragment': 'heures-d-ouverture'}) }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.opening {% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('app_menu', {'slug': store.slug, '_fragment': 'contact'}) }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.contact {% endtrans %}</a>
            </li>
        {% else %}
            <li><a href="#">{% trans %}nav.contact {% endtrans %}</a></li>
        {% endif %}

        <li class="text-sm underline absolute bottom-8 right-8">
            {% if app.user is null %}
                <a href="{{ path('app_login') }}"> {% trans %} nav.login{% endtrans %}</a>
            {% else %}
                <a href="#">  {% trans %} nav.logout {% endtrans %}</a>
            {% endif %}
        </li>
    </ul>
</nav>
