{% extends 'base.html.twig' %}

{% block title %}Snapmenu:
    Un QR code, tout le menu | snapmenu.be{% endblock %}

{% block body %}
    {#    <div class="absolute -top-[45vw] top-0 left-1/2 -translate-x-1/2 clear-gradient #}{# dark-gradient #}{# #}{# bg-gradient-to-b from-secondary via-clear-light to-clear #}{# block w-[50vw] h-[50vw] #}{# opacity-7 #}{#  shadow-clear-dark shadow-2xl aspecct-square rounded-full"> #}

    {#    </div> #}

    {#    <div class="relative"> #}

    <div class="my-12 md:my-16 lg:my-24  w-10/12 lg:w-2/3 m-auto flex items-center justify-center relative  ">
        {#            <div class="absolute  -z-10 w-1/2 h-1/5 left-1/2 -translate-x-1/2 top-1/5 -translate-y-1/5  shadow-clear-dark shadow-2xl rounded-full"></div> #}
        {#        Scannez. Commandez. Savourez. #}
        {#        Votre menu en un scan #}
        {#        Découvrez le menu en un clic #}
        {#        Scannez et régalez-vous #}
        {#        Un QR code, tout le menu #}

        <div class="p-6 md:p-12 bg-surface-light dark:bg-surface-dark relative after:absolute after:content-[' '] after:-z-10 {# after:w-11/12 #} after:inset-x-[1rem] {# after:h-11/12 #} after:inset-y-[1rem]  after:shadow-surface-dark dark:after:shadow-surface-light after:shadow-xl after:rounded-xl">
            <h1 class="text-3xl lg:text-5xl  font-black leading-relaxed capitalize"><i
                        class="text-surface-secondary dark:text-surface-secondary/70">
                    Snapmenu:</i><br/> Un QR code, tout le menu
            </h1>
            <h2 class="my-12 text-xl lg:text-2xl font-bold leading-relaxed">
                Dites adieu aux menus papier. Scannez le code QR pour découvrir le menu complet et commandez directement
                depuis un téléphone.
            </h2>

            <div class="flex flex-col md:flex-row space-y-8 md:space-x-8 md:space-y-0 md:justify-center">
                <a href="{{ path('app_register') }}"
                   id="cta-primary"
                   class="w-full md:w-auto px-4 py-2 text-xl font-semibold text-surface-light dark:text-surface-light/80 bg-surface-secondary dark:bg-surface-secondary/60 border border-surface-secondary/70 dark:border-surface-secondary/80 rounded-lg text-center z-100">
                    {% trans %} cta.primary{% endtrans %}
                </a>
                <a href="{{ path('app_default', {'_fragment': 'list'}) }}"
                   id="cta-secondary"
                   class="w-full md:w-auto px-4 py-2  text-xl font-semibold border text-content-secondary dark:text-secondary/80 border-surface-secondary dark:border-surface-secondary/80 dark:border-clear  rounded-lg text-center">
                    {% trans %} cta.secondary{% endtrans %}
                </a>
            </div>
        </div>
    </div>
    {#    </div> #}
    <section class="w-full min-h-screen my-16 space-y-8 lg:space-y-20 px-2 py-4 md:px-4 py-8">
        {#        Illustration images Mobile - Desktop #}
        <article class="hidden lg:block my-12 md:my-16 lg:my-24">
            <img src="{{ asset('images/screenshots/snapmenu_mcbook_01.webp') }}" alt="Image Snapmenu sur macBook"
                 class="m-auto">
        </article>

        <article class="block lg:hidden my-12 md:my-16 lg:my-24">
            <img src="{{ asset('images/screenshots/snapmenu_iphone_01.webp') }}" alt="Image Snapmenu sur iphone"
                 class="m-auto">
        </article>

        {#    /    Illustration images Mobile - Desktop #}
        <article class="my-12 md:my-16 lg:my-24" id="list">
            <h2 class="text-xl lg:text-2xl font-bold leading-loose">✅ Ces restaurateurs Snappent !</h2>
            <div class="w-full grid grid-cols-1 md:grid-cols-2  lg:grid-cols-3 gap-1 ">

                {% for store in stores %}
                    <div class="w-2/3 md:w-full m-auto flex flex-col justify-center items-center aspect-square dark:bg-clear-light">
                        <a href="{{ path('app_menu', {slug: store.slug}) }}"
                           class="w-2/3">
                            {% if attribute(store, 'logoName') is defined and store.logoName %}
                            <img src="{{ asset('images/stores/' ~ store.logoName) }}"
                                 class="w-full dark:bg-light-neutral/20"
                                 alt="{{ store.name }} | Snapmenu.be">
                            {% endif %}
                        </a>
                        <a href="{{ path('app_menu', {slug: store.slug}) }}"
                           class="text-xl p-2 text-content-primary-light dark:text-content-dark/80 relative overflow-hidden after:w-full after:absolute after:bottom-0 after:-left-96 delay-150 hover:after:left-0 after:content-[' '] after:border after:border-light-text-base after:dark:border-content-dark transition-positions ease-in-out delay-200 duration-1000">
                            {{ store.name }}
                        </a>
                    </div>
                {% else %}
                    {% trans %} text.store.no_store{% endtrans %}
                {% endfor %}
            </div>
        </article>

        <article class="w-full h-dvh flex flex-col lg:flex-row space-y-8 lg:space-8 justify-center lg:justify-start ">
            <div class="w-full lg:w-2/5 lg:h-full lg:flex lg:flex-col lg:justify-center">
                <h2 class="text-xl md:text-2xl font-bold leading-loose">
                    Encodez votre liste de produit
                </h2>
                <h3 class="">
                    Donnez-lui un nom, un prix sur place, un prix emporté.
                </h3>
            </div>
            <div class="w-full lg:w-3/5 lg:h-full lg:flex lg:flex-col lg:justify-center">
                <img src="{{ asset('images/screenshots/screenshot_list.png') }}"
                     alt="Encodez votre liste de produit"
                     class="w-full aspect-video rounded-md">
            </div>
        </article>

        <article class="w-full h-16 block">
            <h2 class="text-xl lg:text-3xl text-content-primary-light dark:text-content-primary-dark/80 font-bold leading-loose">
                Vous êtes prêts à être scannés
            </h2>
        </article>

        <article
                class="w-full h-dvh flex flex-col lg:flex-row lg:space-x-8 justify-start lg:items-start lg:justify-between space-y-4">
            <div class="w-full flex flex-row items-center justify-center lg:w-2/5 lg:h-full lg:flex-col lg:items-start lg:justify-around">
                <img src="{{ asset('images/screenshots/screenshot_contact.jpg') }}"
                     alt="Encodez votre liste de produit"
                     class="border border-4 border-clear-dark aspect-square">
                <img src="{{ asset('images/screenshots/screenshot_menu.png') }}"
                     alt="Encodez votre liste de produit"
                     class="hidden lg:block border border-4 border-clear-dark aspect-square">
                {#                <img src="{{ asset('images/screenshots/screenshot_opening.webp') }}" #}
                {#                     alt="Encodez votre liste de produit" #}
                {#                     class="hidden lg:block border border-4 border-clear-dark aspect-square"> #}

            </div>
            <div class="w-full lg:w-2/5 h-full flex flex-col justify-center">
                <h2 class="text-xl lg:text-3xl text-content-primary-light dark:text-content-primary-dark/80 font-bold leading-loose">Affichez le code QR dans votre
                    établissement</h2>
                <h3 class="my-4 text-lg">Les clients n'ont qu'à scanner ce code avec leur téléphone pour afficher :</h3>

                <ul class="pl-16 my-12 space-y-12 font-semibold flex flex-col">
                    <li class="inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
                        </svg> &nbsp;
                        Votre menu
                    </li>
                    <li class="inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
                        </svg> &nbsp;
                        Vos heures d'ouverture
                    </li>
                    <li class="inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
                        </svg> &nbsp;
                        Vos informations de contact
                    </li>
                </ul>
                <div class="leading-loose">
                    <p>En cas de modification rendez-vous sur votre interface d'administration, le code ne change pas:
                        inutile de
                        réimprimer des menus. </p>
                    <p>Vos visiteurs deviennent des client et les clients deviennent des embassadeurs car il peuvent
                        faire
                        scanner
                        le code pour le partager avec leurs amis.</p>

                </div>
            </div>
        </article>


    </section>
{% endblock %}

