{{ form_start(form) }}
   {{ form_widget(form._token) }}
<div class="w-full flex flex-col space-y-12 my-4">
    <twig:Form:Text :row="form.name" class="w-full"/>
    <twig:Form:Text :row="form.description" class="w-full"/>

    <div class="w-full flex flex-col space-y-8 lg:flex-row lg:space-y-0 lg:space-x-4">
        <div class="w-full lg:w-7/12 flex space-x-4">
            <twig:Form:Text :row="form.streetName" class="w-10/12"/>
            <twig:Form:Text :row="form.houseNumber" class="w-2/12"/>
        </div>
        <div class="w-full lg:w-7/12 flex space-x-4">
            <twig:Form:Text :row="form.postCode" class="w-5/12"/>
            <twig:Form:Text :row="form.city" class="w-7/12"/>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-8 lg:flex-row lg:space-y-0 lg:space-x-4">
        <twig:Form:Text :row="form.email" class="w-full lg:w-6/12"/>
        <twig:Form:Text :row="form.phoneNumber" class="w-full lg:w-3/12"/>
        <twig:Form:Text :row="form.vatNumber" class="w-full lg:w-3/12"/>
    </div>
    <div class="w-full">
        {{ form_errors(form.logoFile) }}
        {{ form_label(form.logoFile, null , {
            'label_attr': {'class': ''}}) }}
        {{ form_widget(form.logoFile, {'attr': {'class': ''}}) }}
    </div>

    <div class="my-8">
        <twig:Button:Submit>
            {{ button_label|default('Save')|trans }}
        </twig:Button:Submit>
    </div>
</div>
{{ form_end(form) }}