{% extends 'admin/layout/page.html.twig' %}

{% block title %}{% trans %} title.category.index {% endtrans %}{% endblock %}
{% block page_header %}
    <twig:Button:Primary href="{{ path('admin_category_new') }}"
                         :light="true"> {% trans %}button.new {% endtrans %} </twig:Button:Primary>

{% endblock %}
 {% block page_body %}
     <h1>{% trans %} title.category.index {% endtrans %} </h1>

     <div>
         <table class="w-full table-fixed text-left border-separate border-spacing-y-8 ">
             <thead class="">
             <tr>
                 <th class="hidden lg:table-cell w-9/12">{% trans %}title.name{% endtrans %}</th>
                 <th class="hidden lg:table-cell w-1/12">{% trans %}title.status{% endtrans %}</th>
                 <th class="w-2/12"></th>
             </tr>
             </thead>
             <tbody>
             {% for category in categories %}
                 <tr class="flex flex-col lg:table-row even:bg-dark-neutral/10 dark:even:bg-light-neutral/10 py-4">
                     <td class="px-2 py-5 lg:p-0 before:content-['Nom:'] before:absolute before:top-0 before:left-2 lg:before:content-[''] before:font-normal before:text-base font-semibold text-lg relative">
                         {{ category.name }}
                     </td>
                     {#                    <td class="hidden xl:table-cell px-2 py-1">{{ product.Description }}</td> #}
                     <td class="px-2 py-5 lg:py-0 before:content-['Active:'] before:absolute before:top-0 before:left-2 lg:before:content-[''] relative">
                         {% include 'admin/category/_activate_form.html.twig' with {
                             category: category
                         } %}
                     </td>

                     <td class="text-left lg:text-center">
                         <twig:Button:Secondary href="{{ path('admin_category_show', {'id': category.id}) }}"
                                                class="mx-auto">
                             Voir
                         </twig:Button:Secondary>
                         <twig:Button:Secondary href="{{ path('admin_category_edit', {'id': category.id}) }}"
                                                class="mx-auto">
                             {% trans %}button.edit {% endtrans %}
                         </twig:Button:Secondary>
                     </td>
                 </tr>
             {% else %}
                 <tr>
                     <td colspan="9">{% trans %} text.n_a {% endtrans %}</td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>

 {% endblock %}
