{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="w-full h-screen flex flex-col flex-none items-center justify-between  gap-8 border border-black p-8 ">
        <div class="w-full text-left">
            <a href="{{ path('app_menu', {slug: store.slug}) }}" class="text-xl">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                </svg>
            </a>
        </div>
        <div>
            <twig:Title:H1> {{ store.name }} </twig:Title:H1>
        </div>

        <div>
            CODE QR
        </div>


        <div class="w-full py-8 border border-y border-y-2 border-y-gray-400 text-center">
            Mon url: <a href="{{ path('app_menu', {slug: store.slug}) }}">https://snapmenu.be{{ path('app_menu', {slug: store.slug}) }} </a>
        </div>

        <div>
            <ul class="text-center capitalize">
                <li class="text-lg font-black">{{ store.name }}</li>
                <li class="semibold">{{ store.streetName }} {{ store.houseNumber }} </li>
                <li class="semibold">{{ store.postCode }}&nbsp;&nbsp;&nbsp;&nbsp; {{ store.city }} </li>
                <li class="semibold">{{ store.phoneNumber }} </li>
            </ul>
        </div>

        <div class="text-center text-small"> (2024) snap menu</div>
    </div>
{% endblock %}
