
                {{ form_start(form, { 'attr' : { 'class': 'w-full' } }) }}
                <div class="p-2 w-full">
                    <div class="relative">
                        <twig:Form:Text :row="form.name"/>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <twig:Form:Text :row="form.email"/>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative space-y-4  ">
                        {{ form_label(form.message, null, {'label_attr': { 'class': 'leading-7 text-sm text-gray-600'}}) }}
                        {{ form_widget(form.message, { 'attr':
                            {
                                'class': 'w-full bg-white bg-opacity-40 rounded border border-surface-dark focus:border-surface-dark/50  focus:bg-white focus:ring-2 focus:ring-surface-secondary/50 focus-visible:ring-surface-secondary/50 h-32 text-base outline-none text-content-primary-light dark:bg-surface-light dark:text-content-primary-light py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out dark:placeholder-content-primary-light/70  ',
                                'placeholder': 'Ecrivez votre message ou posez une question'
                            }
                        }) }}
                    </div>
                </div>

                <div class="p-2 w-full flex flex-col md:flex-row space-x-0 md:space-x-4  space-y-4 md:space-y-0 justify-start">
                    <twig:Button:Submit>{{ button_label|default('Save') |trans }}</twig:Button:Submit>
                    <twig:Button:Secondary> {% trans %} button.back {% endtrans %}</twig:Button:Secondary>
                </div>

                {{ form_end(form) }}
