{% extends 'base.html.twig' %}

{% block title %}Menu de {{ store.name }} à {{ store.postCode }}, {{ store.city }}{% endblock %}

{% block body %}
    <div class="p-2 lg:p-4">
        {% block menu %}

            {#        <div id="top" #}
            {#             class="flex justify-between items-center"> #}
            {#            <twig:Title:H1 class="capitalize">{{ store.name }}</twig:Title:H1> #}
            {#            <a href="#contact" #}
            {#                    #}{#            <a href="{{ path('app_contact', {slug: store.slug}) }}" #}
            {#               class="px-4 py-2 bg-secondary text-light-text-base-light rounded-md"> #}
            {#                Code QR #}
            {#            </a> #}
            {#        </div> #}
            <span id="menu">&nbsp;</span>
            <div class="">
                {% for activeCategory in menu %}
                    {% if activeCategory.category.products is not empty %}
                        <twig:Title:H2 class="mt-12">
                            {{ activeCategory.category.name }}
                        </twig:Title:H2>
                        {% for product in activeCategory.category.products %}
                            <div class="my-4 px-1 py-2 first:mt-0 last:mb-8 bg-clear-light dark:bg-primary ">
                                <div class="w-full flex flex-col ">
                                    <div class="w-full flex flex-wrap justify-start items-center gap-5 py-1 ">
                                        <h3 class="uppercase font-semibold py-1"> {{ product.name }}</h3>
                                        <div class="flex gap-4 font-black text-light-text-highlight text-dark-text-highlight">
                                            {% if  product.veggie %} {{ ux_icon('lucide:vegan', { class: 'w-5 h-5' }) }} {% endif %}
                                            {% if  product.halal %} {{ ux_icon('mdi:food-halal', { class: 'w-5 h-5' }) }}{% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full flex ">
                                        <div class="grow py-1">
                                            {#                                        <div class="mt-4 mb-2 mr-2"> {{ product.description ? product.description : '' }}</div> #}

                                            {% if product.ingredients is not empty %}
                                                <div class="text-sm italic mr-2">
                                                    <span class="font-bold">Ingredients: </span>{{ product.ingredients }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="w-28 grid grid-rows-2">
                                            <div class="flex justify-between items-center">
                                                {#                                            <span class="text-basis text-center">{% trans %} menu.price.home{% endtrans %} </span> #}
                                                {{ ux_icon('fluent-emoji-high-contrast:fork-and-knife-with-plate', {class: 'w-5 h-5'}) }}
                                                <div class="text-xl text-blue-600 font-black  after:content-['€'] after:text-sm text-right relative">
                                                    {#                                                {{ ux_icon('fluent-emoji-high-contrast:fork-and-knife-with-plate') }} #}
                                                    {{ product.priceHome }}
                                                </div>
                                            </div>
                                            <div class="flex justify-between items-center">
                                                {#                                            <div class="text-basis text-center">{% trans %} menu.price.away{% endtrans %}</div> #}
                                                {{ ux_icon('solar:bag-4-linear', {class: 'w-5 h-5'}) }}
                                                {#                                            {{ ux_icon('solar:bag-4-linear', {class: 'absolute top-1/2 -translate-y-1/2 left-0'}) }} #}
                                                <div class="text-xl text-blue-600 font-black  after:content-['€'] after:text-sm text-right  relative">
                                                    {{ product.priceAway }}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block opening %}
            <div id="heures-d-ouverture"
                 class="min-h-screen flex flex-col justify-center items-center">
                <twig:Title:H2>{% trans %} title.opening_hours{% endtrans %}</twig:Title:H2>
                <div class="w-full p-8 grid grid-cols-3 gap-x-8 gap-y-8">
                    <h3 class="pb-4 font-black">Jour</h3>
                    <div class="pb-4 font-black text-center -ml-8">Ouvre</div>
                    <div class="pb-4  font-black text-center">Ferme</div>
                    {% for opening_hour in store.openingHours | sort((a, b) => a.dayOfWeek <=> b.dayOfWeek) %}
                        <h3 class="pb-4">{{ ('form.opening_hours.day_of_week.' ~ opening_hour.dayOfWeek) | trans }}</h3>
                        <div class="pb-4 text-center border-b border-gray-900 -ml-8">{{ opening_hour.openTime ? opening_hour.openTime|date('H:i') : '' }}</div>
                        <div class="pb-4 text-center">{{ opening_hour.closeTime ? opening_hour.closeTime|date('H:i') : '' }}</div>
                        {#                    <span class="w-3/4 aligncol-span-3 border-b border-gray-900 -ml-8"> </span> #}
                    {% else %}
                        <p class="col-span-3">Contactez-nous pour pour connaître les heures d'ouverture</p>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}

        {% block contact %}
            <div id="contact"
                 class="scroll-mt-60 w-full min-h-screen flex flex-col flex-none items-center justify-evenly  gap-8 p-8 pt-52">
                <div class="w-full grid grid-cols-3">
                    <div class="text-left">
                        <a href="{{ path('app_default') }}" class="text-xl">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                            </svg>
                        </a>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('app_menu', { 'slug': store.slug }) }}#menu" class="">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8"
                                 stroke="currentColor" class="w-6 h-6 m-auto">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5"/>
                            </svg>
                        </a>
                    </div>
                    <div class="text-center">

                    </div>
                </div>
                <div>
                    <twig:Title:H1> {{ store.name }} </twig:Title:H1>
                </div>

                <div>
                    {% set  uri = 'snapmenu.be'~path('app_menu', {slug: store.slug}) %}
                    <img src="{{ qr_code_url(uri) }}" alt="{{ store.name }} code QR"/>
                </div>


                <div class="w-full py-8 border border-y border-y-2 border-y-gray-400 text-center">
                    Mon url: <br/> <a
                            href="{{ path('app_menu', {slug: store.slug}) }}">https://snapmenu.be{{ path('app_menu', {slug: store.slug}) }} </a>
                </div>

                <div>
                    <ul class="text-center capitalize">
                        <li class="text-lg font-black">{{ store.name }}</li>
                        <li class="semibold">{{ store.streetName }} {{ store.houseNumber }} </li>
                        <li class="semibold">{{ store.postCode }}&nbsp;&nbsp;&nbsp;&nbsp; {{ store.city }} </li>
                        <li class="semibold">{{ store.phoneNumber }} </li>
                    </ul>
                </div>

                <h6 class="text-center text-small"> (2024) <a href="https://pixelservices.be">PixelServices.be, création
                        de
                        sites internet pour les petits entrepreneurs, Services web.</a></h6>
            </div>

        {% endblock %}
    </div>
{% endblock %}
