{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    {% block menu %}
        <div class="flex justify-between items-center">
            <twig:Title:H1 class="capitalize">Menu</twig:Title:H1>
            <a href="{{ path('app_contact', {slug: store.slug}) }}"
            class="px-4 py-2 bg-blue-700 text-blue-50 rounded-md">
                Code QR
            </a>
        </div>
        <div>
            {% for activeCategory in menu %}
                {% if activeCategory.category.products is not empty %}
                    <twig:Title:H2 class="mt-12 border-b border-b-2 border-red-500">
                        {{ activeCategory.category.name }}
                    </twig:Title:H2>
                    {% for product in activeCategory.category.products %}
                        <div class="my-4 first:mt-0 last:mb-8">
                            <div class="w-full grid grid-cols-12">
                                <div class="col-span-10 p-4">
                                    <div class="flex justify-between items-start mr-4">
                                        <div class="uppercase"> {{ product.name }}</div>
                                        <div>
                                            {{ product.veggie ? 'Veggie' : '' }}
                                            {{ product.halal ? 'Halal' : '' }}
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-2"> {{ product.description ? product.description : '' }}</div>
                                    <div class="text-sm italic">
                                        Ingredients: {{ product.description ? product.ingredients : '' }}</div>
                                </div>
                                <div class="col-span-2 grid grid-rows-2">
                                    <div class="bg-gray-300 flex flex-col items-center">
                                        <span>home </span>
                                        <span class="after:content-[' €']">{{ product.priceHome }}</span>
                                    </div>
                                    <div class="bg-gray-400 flex flex-col items-center">
                                        <span>away</span>
                                        {{ product.priceAway }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
    {% block contact %}
        <div class="w-full min-h-screen flex flex-col flex-none items-center justify-between  gap-8 border border-black p-8 mt-[20vh]">
            <div class="w-full text-left">
                <a href="{{ path('app_menu', {slug: store.slug}) }}" class="text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                    </svg>
                </a>
            </div>
            <div>
                <twig:Title:H1> {{ store.name }} </twig:Title:H1>
            </div>

            <div>
                CODE QR
            </div>


            <div class="w-full py-8 border border-y border-y-2 border-y-gray-400 text-center">
                Mon url: <a
                        href="{{ path('app_menu', {slug: store.slug}) }}">https://snapmenu.be{{ path('app_menu', {slug: store.slug}) }} </a>
            </div>

            <div>
                <ul class="text-center capitalize">
                    <li class="text-lg font-black">{{ store.name }}</li>
                    <li class="semibold">{{ store.streetName }} {{ store.houseNumber }} </li>
                    <li class="semibold">{{ store.postCode }}&nbsp;&nbsp;&nbsp;&nbsp; {{ store.city }} </li>
                    <li class="semibold">{{ store.phoneNumber }} </li>
                </ul>
            </div>

            <div class="text-center text-small"> (2024) snap menu</div>
        </div>
    {% endblock %}
{% endblock %}
