{#    desktop hidden on mobile=============================================== #}
<div class="hidden lg:grid grid-cols-12">
    <div id="brand" class="col-span-3  text-left flex !items-baseline space-x-4">
        {% if store is defined %}
            {% if store.logoName is not null %}
                <a href="{{ path('app_menu', {slug: store.slug}) }}"
                   class="">
                    <img src="{{ asset('images/stores/' ~ store.logoName) }}"
                         class="w-full"
                         alt="{{ store.name }} |Snapmenu.be">
                </a>
            {% else %}
                <twig:Title:H1 class="capitalize">{{ store.name }}</twig:Title:H1>
            {% endif %}
        {% else %}
            <a href="{{ path('app_default') }}"> Snap<strong>Menu</strong> </a>
        {% endif %}
        {# {% if store.name is defined %}
                    <twig:Title:H1 class="capitalize">{{ store.name }}</twig:Title:H1>
                {% endif %}
                <a href="{{ path('app_default') }}"> Snap<strong>Menu</strong> </a> #}
    </div>
    <nav class="col-span-9 text-base overflow-hidden h-full flex justify-start !items-baseline">
        <ul class="h-full flex  justify-start  items-center gap-x-4 m-auto">
            {% if app.user.store is defined %}
                <li>
                    <a href="{{ path('admin_store_show') }}">{% trans %}nav.store {% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('admin_product_index') }}">{% trans %}nav.products {% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('admin_category_index') }}">{% trans %}nav.categories {% endtrans %}</a>
                </li>

            {% endif %}

        </ul>
        <ul class="h-full flex  justify-end  items-center gap-x-4 m-auto">
            <li><a href="{{ path('app_menu', {'slug': app.user.store.slug}) }}">  {% trans %} nav.seeAs {% endtrans %}</a></li>
            <li><a href="/logout">  {% trans %} nav.logout {% endtrans %}</a></li>
        </ul>
    </nav>

</div>
{# end desktop -------------------------------------------------------------- -#}