{#   Mobile hidden on lg screens =========================================== #}
<div class="lg:hidden w-full grid grid-cols-12 z-50">
    <div id="menu-trigger" class="col-span-2 text-left">
        <a href="#" id="trigger-on" {{ stimulus_action('nav', 'trigger') }}
           class="w-full h-full inline-flex justify-start items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                 stroke="currentColor" class="w-12 h-12">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
        </a>
    </div>
    <div id="brand" class="col-span-8  flex justify-center items-center ">
        {% if store is defined %}
            {% if store.logoName is not null %}
                <a href="{{ path('app_menu', {slug: store.slug}) }}"
                   class="">
                    <img src="{{ asset('images/stores/' ~ store.logoName) }}"
                         class="w-full"
                         alt="{{ store.name }} |Snapmenu.be">
                </a>
            {% else %}
                <twig:Title:H1 class="capitalize">{{ store.name }}</twig:Title:H1>
            {% endif %}
        {% else %}
            <a href="{{ path('app_default') }}"> Snap<strong>Menu</strong> </a>
        {% endif %}

    </div>
    <div class="col-span-2 w-full h-full inline-flex justify-start items-center ">
    </div>
</div>
{#     end Mobile  =========================================================== #}