<nav class=" lg:hidden fixed inset-0 z-40 top-0 bottom-0 left-0 right-0 w-full -mt-[200vh] h-fit  p-16 bg-dark-neutral dark:bg-light-neutral text-dark-text-base dark:text-light-text-base transition-[margin] duration-800 ease-in-out{#- ml-[100vw] #}" {{ stimulus_target('nav', 'links') }}>
    <a href="#" {{ stimulus_action('nav', 'trigger') }} class="absolute top-8 right-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor"
             class="h-8 w-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
        </svg>
    </a>
    <ul class="w-full h-fit flex flex-col justify-start items-center py-16 space-y-8 text-dark-text-base dark:text-light-text-base text-lg font-semibold ">
        <li>
            <a href="{{ path('app_default') }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.home {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('admin_store_show') }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.store {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('admin_product_index') }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.products {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('admin_category_index') }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.categories {% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('app_message_index') }}" {{ stimulus_action('nav', 'trigger') }} >{% trans %}nav.messages {% endtrans %}</a>
        </li>

        <li><a href="#">{% trans %}nav.contact_webmaster {% endtrans %}</a></li>
    </ul>
    <ul class="w-full h-fit flex flex-col justify-start items-center py-16 space-y-8 text-dark-text-base dark:text-light-text-base text-lg font-semibold ">
        <li><a href="{{ path('app_menu', {'slug': app.user.store.slug}) }}">  {% trans %} nav.seeAs {% endtrans %}</a></li>
        <li class="text-sm underline"><a href="/logout">  {% trans %} nav.logout {% endtrans %}</a> </li>
    </ul>
</nav>
